.section-2 {
    height: 100%;
    width: 100%;
    padding-top: 1rem;
    background-color: rgb(10, 10, 10);
    /* border-top: 1px solid rgb(83, 83, 83); */
    background-image: linear-gradient(to right, transparent 20%, rgb(34, 20, 20) 50%, transparent 80%);
    /* background-color: orange; */
  }
  
  .about-header {
    height: auto;
    width: 80%;
    margin: 0 auto;
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid white; */
  }
  
.main-header{
  display: flex;
}

  .about-header h4 {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: orange;
    /* border: 1px solid white; */
  }
  
  .about-header h1 {
    color: grey;
    font-size: 1.6rem;
  }
  
  .about-header p {
    position: relative;
    line-height: 5rem;
    font-weight: 600;
    color: white;
    text-align: center;
  }
  
  .about-header p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0.1rem;
    width: auto;
    background-color: rgb(255, 255, 255);
  }
  
  .about-main {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
  }
  
  
  .about-content {
    height: auto;
    width: 80%;
    text-align: center;
    /* border: 1px solid white; */
  }
  
  .content-intro {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem 0 2rem 0;
    /* border: 1px solid white; */
    /* background-color: rgb(62, 62, 62); */
    /* background-color: rgb(255, 177, 33); */
  }
  
  .content-intro h2 {
    letter-spacing: 0.1rem;
    font-size: 18px;
    color: salmon;
  }
  
  .content-intro p {
    color: rgb(163, 163, 163);
    /* color: rgb(0, 0, 0); */
    font-weight: 400;
    word-spacing: 0.2rem;
    /* border: 1px solid white; */
  }
  
  .content-intro p:last-child {
    padding-top: 0.5rem;
  }
  
  .content-intro p b {
    color: rgb(213, 213, 213);
    font-weight: 500;
  }
  
  .content-skills {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    margin: 0 0 5rem 0;
    /* border: 1px solid white; */
  }
  
  .content-skills h3 {
    /* color: white; */
    color: rgb(205, 0, 205);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    /* font-size: 25px; */
    font-size: 1.3rem;
    margin: 0 0 1rem 0;
  }
  
  .content-skills .skills {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid white; */
  }
  
  .skills .badge {
    color: white;
    /* margin: 0.5rem; */
    border-radius: 0.2rem;
    padding: 0.5rem 0.5rem;
    margin: 1rem 0.5rem;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    /* border-radius: 50%; */
    /* border: 1px solid rgb(32, 32, 32); */
    /* background-color: rgb(20, 20, 20); */
  }
  
  .skills .badge:hover{
    /* box-shadow: rgba(117, 117, 117, 0.19) 0px 10px 20px, rgba(118, 118, 118, 0.23) 0px 6px 6px; */
    /* transform:translateY(-2%); */
    transform: scale(110%);
  }
  
  .skills .badge h4 {
    margin: 0.2rem 0 0 0;
    font-weight: 200;
    font-size: 15px;
  }

  #skills-img{
    height: 50px;
    width: 50px;
  }
  
  #skills-img > img{
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  #skills-img #react{
  animation: rotateReact 6s infinite linear;
  }


  #about-contact a{
  text-decoration: none;
  color: orangered;
  }

  @keyframes rotateReact {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* RESPONSIVE------------------------------------ */
  @media (max-width: 1000px) {
    .section-2 {
      height: 100%;
      padding-bottom: 5rem;
    }

    .content-intro {
      margin-top: 2rem;
    }
  }
  
  @media (max-width: 900px) {
    .section-2 {
      height: 100%;
      padding-bottom: 5rem;
    }
  
    .content-skills {
      margin-top: 2rem;
    }
  }
  
  @media (max-width: 800px) {
    .content-intro {
      margin-top: 4rem;
    }
  
    .content-skills {
      margin-top: 4rem;
    }
  }
  
  @media (max-width: 768px) {

    .content-intro h2 {
      text-align: center;
      font-size: 18px;
      color: salmon;

    }

    .content-intro p{
      text-align:center;
      /* border: 1px solid white; */
    }

    .content-skills h2 {
      text-align: center;
      margin: 0 0 15px 0;
      /* border: 1px solid white; */
    }

    .about-img {
      height: 100%;
      width: 95%;
      /* border: 1px solid white; */
      /* display: none; */
    }
    
   
    .about-main {
      justify-content: center;
      flex-direction: column;
    }
    .about-content {
      width: 80%;
    }
  }
  

  @media (max-width: 560px) {
      
  .content-skills .skills {
    justify-content: center;
  }
}

@media (max-width:290px) {
  .about-header p{
    line-height: 35px;    /* width: 100%; */
  }
}