.section-1 {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 2rem;
    color: white;
    background-color: black;
    /* background-color: rgb(39, 39, 39); */
    /* background-color: rgb(40, 40, 43); */
    /* background-color: rgba(253, 170, 15, 0.9); */
    /* border: 1px solid black; */
  }
  
  .main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5rem 0;
    /* border: 1px solid white; */
  }
  
  .main-intro {
    height: auto;
    width: 50%;
    /* padding-top: 5rem; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid white; */
    /* color: #ffffff; */
  }

  .main-intro .intro{
    text-align: center;
  }
  
  .main-intro .intro p {
    padding: 1rem 0;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #ffffff;
  }
  
  .intro p::after {
    content: "";
    position: absolute;
    height: 0.1rem;
    width: 5rem;
    bottom: 1.7rem;
    background-color: #ffffff;
    margin-left: 0.5rem;
  }
  
  .intro h1 {
    font-size: 3rem;
    /* font-weight: 700; */
  }
  
  .main-intro .intro-btns {
    padding: 2rem 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
  }
  
  .intro-btns a {
    text-decoration: none;
    color: black;
  }
  
  .intro-btns a button {
    padding: 1rem 2rem;
    border: none;
    background: none;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: inherit;
    letter-spacing: 0.1rem;
    border-radius: 0.1rem;
    cursor: pointer;
    transition: 0.4s ease;
    color: #ffffff;
    border: 1px solid #656565;
    /* border: 1px solid #ffffff; */
    /* background-color: #ffffff; */
  }
  
  .intro-btns button:hover {
    background-color: #ffffff;
    color: black;
  }
  
  .intro-btns a:last-child button{
    padding: 1rem 2.3rem;
  }
  
  .main-intro .intro-scroll {
    padding-top: 5rem;
    height: auto;
    width: 25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid white; */
  }
  
  .intro-scroll a {
    text-decoration: none;
    color: white;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .intro-scroll a i {
    color: #ffffff;
  }
  
  .intro-scroll a:last-child {
    text-decoration: none;
    font-weight: 400;
  }
  
  .intro-scroll a:nth-child(3) button {
    padding: 0.4rem 0.8rem;
    border: none;
    background: none;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: inherit;
    letter-spacing: 0.1rem;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: 0.4s ease;
    color: #ffffff;
    border: 1px solid #656565;
    transition: all 0.3s ease;
  }

    
  .intro-scroll a:nth-child(3) button:hover{
    background-color: #ffffff;
    color: black;
  }
  
  .intro-scroll a:last-child button:hover {
    background-color: white;
    color: black;
  }
  
  .main-img {
    height: 33rem;
    width: 40%;
    object-fit: cover;
    /* border: 1px solid black; */
  }
  
  .main-img img {
    height: 100%;
    width: 100%;
    filter: contrast(140%) drop-shadow(1px 1px 5px rgb(75, 75, 75, 0.8));
    object-fit: contain;
    animation: introImg 3s 1.5s infinite linear forwards;
  }
  
  @keyframes introImg {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(2%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  #scroll-down{
    animation: scroll 1.8s 1.5s infinite linear forwards;
  }
  

  @keyframes scroll {
    0%{
      transform: translateY(0%);
    }
    50%{
      transform: translateY(50%);
    }
    100%{
      transform: translateY(0%);
    }
  }
  
  /* RESPONSIVE------------------------------------ */
  @media (max-width: 1000px) {
    .main-intro {
      margin-top: 5rem;
      margin-left: 2rem;
    }
  
    .main-intro .intro-btns {
      flex-direction: column;
    }
    
    .main-intro .intro-btns a button:last-child{
      margin: 0.2rem 0;  
    }
    
    .intro-btns a {
      padding: 0.5rem;
    }
  
  }
  
  @media (max-width: 1024px) {
    .section-1 {
      height: 100%;
    }
  }
  
  @media (max-width: 768px) {

    .main-intro .intro p {
      text-align: center;
    }

    .main-intro .intro h1{
      text-align: center;
    }

    .main{
      flex-direction: column-reverse;
    }
    
    .main-img {
      width: 95%;
      /* display: none; */
    }
  
    .main-intro {
      width: 80%;
      margin-top: 5rem;
      margin-left: -0.2rem;
    }
  
    .main-intro .intro-btns {
      flex-direction: row;
    }
  
    .intro-scroll a {
      padding: 0.8rem;
    }
  }
  
  @media (max-width : 480px) {
    .main-intro .intro-btns {
      flex-direction: column;
    }

    .main-intro .intro h1{
      line-height: 3.2rem;
    }

    .intro p::after{
      width: 2rem;
    }
      .intro h1{
        font-size: 2rem;
      }

  }
  
  @media (max-width : 460px) {
    
  .intro-btns a:last-child button{
    padding: 1rem 2rem;
  }
  
  }
  
  @media (max-width: 455px) {
    .intro-btns a button {
      padding: 1rem 1.2rem;
    }
  
    .main-intro .intro-scroll {
      width: 21rem;
    }
  }
  
  @media (max-width: 378px) {
    .intro-btns a button {
      font-size: 0.9rem;
    }
  
    .main-intro .intro-scroll {
      width: 18.8rem;
    }
  }
  
  @media (max-width: 365px) {
    .intro-btns a button {
      font-size: 0.8rem;
    }
  
    .main-intro .intro-scroll {
      width: 18rem;
    }
  }

  /* @media (max-width:350px){

  
  } */
  
  @media (max-width: 320px) {
    .intro-btns a button {
      font-size: 0.6rem;
    }
  
    .main-intro .intro-scroll {
      width: 17rem;
      padding-right: 2rem !important;
      /* border: 1px solid black; */
    }
  }
  

  .multicolor{
    background-image: linear-gradient(to left, rgb(255, 38, 233), red, orange);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
 

  .greycolor{
    color: grey;
    font-style: italic;
  }