.section-3 {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      rgb(0, 0, 0,0.6),
        rgb(0, 0, 0,0.6)
      ),
      url("../../Images/works.png");
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    background-size: contain;
    filter: contrast(100%);
    padding-bottom: 5rem;
    background-color: rgb(0,0,0);
    /* background-color: rgb(10, 10, 10); */
  }
  
  
  .works-header {
    height: auto;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    /* border: 1px solid black; */
  }
  
  .works-header h4 {
    color: rgb(34, 255, 34);
    /* color: orange; */
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  
  .works-header h1 {
    color: rgb(200, 200, 200);
    font-size: 1.6rem;
  }
  
  .works-header p {
    position: relative;
    line-height: 5rem;
    color: white;
  }
  
  .works-header p::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.1rem;
    width: auto;
    background-color: white;
  }
  
  .works-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
  }
  
  .content-projects {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    /* border: 1px solid rgb(255, 255, 255); */
    /* perspective: 800px;  */
  }
  
  .project {
    /* height: 32rem; */
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    border-radius: 0.5rem;
    color: white;
    backdrop-filter: blur(8px);
    cursor: pointer;
    /* background-color: rgb(32, 32, 32); */
    background-color: rgb(28, 28, 28);
    transition: transform 0.3s ease-out;
    box-shadow: rgba(27, 27, 27, 0.25) 0px 30px 60px -12px inset, rgba(27, 27, 27, 0.3) 0px 18px 36px -18px inset;
    /* transform-style: preserve-3d; */
    /* background-color: rgb(45, 45, 45); */
    /* border: 1px solid rgb(255, 255, 255); */
  }

  .project:hover{
    /* box-shadow: rgba(117, 117, 117, 0.19) 0px 10px 20px, rgba(118, 118, 118, 0.23) 0px 6px 6px; */
    transform:translateY(-1%);
    background-color: rgb(32, 32, 32);
  }
   
  .project-image {
    height: 15rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.8rem 1rem 0rem 1rem;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    /* border: 1px solid black; */
  }
  
  .project-image > img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    /* filter: contrast(120%); */
    object-fit:contain;
  }

  .project-description {
    height: auto;
    width: 100%;
    font-family: inherit;
    text-align: center;
    padding: 1rem;
    color: black;
    border-radius: 0.5rem;
    /* background-color: #e5e5e5; */
  }
  
  .project-description h2 {
    font-weight: 600;
    /* padding-bottom: 0.6rem; */
    text-transform:capitalize;
    color: #ffffff;
    /* color: rgb(255, 113, 5); */
  }
  
  .project-description p {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(205, 205, 205);
    margin: 0 0 1rem 0;
    /* border: 1px solid white; */
  }
  
  .project-description h4 span {
    font-weight: 600;
    /* color: rgb(94, 94, 94); */
  }
  
  .project-description p::after {
    content: none;
  }
  
  .project-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #e5e5e5; */
    /* border: 1px solid white; */
  }
  
  .project-button {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0;
    /* border: 1px solid white; */
  }
  
  .project-button a {
    text-decoration: none;
    color: black;
  }
  
  .project-button button {
    padding: 0.6rem 1rem;
    border: none;
    background: none;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: 0.4s ease;
    color: #ffffff;
    /* border: 1px solid #656565; */
    transition: all 0.3s ease;
    font-family: "poppins", sans-serif;
    background-color: rgb(48, 48, 48);
   
  }
  
  .project-button button:hover {
    background-color: rgb(19, 19, 19);
    color: white;
  }

  #all-lang-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
  }

#lang-logos{
  height: 35px;
  width: 35px;
  margin: 0 0.4rem;
  display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: rgb(46, 46, 46);
    /* border: 1px solid white; */
}

#lang-logos img{
  height: 65%;
  width: 65%;
  object-fit: contain;
  /* border-radius: 0.5rem; */
}

#project-description{
  /* display: none; */
  /* border: 1px solid white; */
}

  
  /* RESPONSIVE--------------- */
  
  @media (max-width: 700px) {
    .works-header {
      width: 60%;
    }
    .works-header p {
      padding-top: 2rem;
      line-height: 2rem;
      text-align: center;
    }
  }
  