.section-3 {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      rgba(38, 38, 38, 0.8),
        rgba(38, 38, 38, 0.8)
      ),
      url("../../Images/works.png");
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    background-size: contain;
    filter: contrast(100%);
    padding-bottom: 5rem;
  }
  
  
  .works-header {
    height: auto;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    /* border: 1px solid black; */
  }
  
  .works-header h4 {
    color: white;
    /* color: orange; */
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  
  .works-header h1 {
    color: rgb(200, 200, 200);
    font-size: 1.6rem;
  }
  
  .works-header p {
    position: relative;
    line-height: 5rem;
    color: white;
  }
  
  .works-header p::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.1rem;
    width: auto;
    background-color: white;
  }
  
  .works-content {
    height: auto;
    width: 100%;
    /* border: 1px solid black; */
  }
  
  .content-projects {
    height: 100%;
    width: 100%;
    padding-top: 4rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 1px solid black; */
  }
  
  .project {
    height: 32rem;
    width: 28rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    border-radius: 0.5rem;
    color: white;
    background-color: rgb(45, 45, 45);
    backdrop-filter: blur(8px);
    transition: 0.4s ease-in-out;
    /* border: 1px solid rgb(255, 255, 255); */
  }
  
  .project:hover{
    box-shadow: rgba(117, 117, 117, 0.19) 0px 10px 20px, rgba(118, 118, 118, 0.23) 0px 6px 6px;
    transform:translateY(-1%);
  }
  
  .project-image {
    height: 15rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.8rem 0 0 0;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    /* border: 1px solid black; */
  }
  
  .project-image img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    filter: contrast(120%);
    object-fit:contain;
  }
  
  .project-description {
    height: auto;
    width: 100%;
    font-family: inherit;
    text-align: center;
    padding: 1rem;
  }
  
  .project-description h2 {
    font-weight: 600;
    padding-bottom: 0.6rem;
    text-transform: uppercase;
    color: rgb(201, 201, 201);
    /* color: rgb(255, 113, 5); */
  }
  
  .project-description p {
    font-size: 0.9rem;
    font-weight: 500;
  }
  
  .project-description h4 span {
    font-weight: 600;
    /* color: rgb(94, 94, 94); */
  }
  
  .project-description p::after {
    content: none;
  }
  
  .project-buttons{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
  }
  
  .project-button {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
    /* border: 1px solid black; */
  }
  
  .project-button a {
    text-decoration: none;
    color: black;
  }
  
  .project-button button {
    padding: 0.8rem 1.8rem;
    font-family: inherit;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
    transition: all 0.3s ease;
    /* border: 1px solid black; */
    background-color: white;
    /* background-color: rgb(253, 225, 173); */
  }
  
  .project-button button:hover {
    background-color: rgb(245, 206, 135);
  }
  
  /* RESPONSIVE--------------- */
  
  @media (max-width: 700px) {
    .works-header {
      width: 60%;
    }
    .works-header p {
      padding-top: 2rem;
      line-height: 2rem;
      text-align: center;
    }
  }
  