.navbar {
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    transition: all 0.5s ease;
    background-color: rgb(10, 10, 10);
    background-image: linear-gradient(to right, transparent 20%, rgb(34, 20, 20) 50%, transparent 80%);
    /* background-color: rgb(33, 33, 33); */
    /* background-color: rgba(253, 170, 16, 1); */
    /* border: 1px solid black; */
  }
  
  .shadow {
    background-color: rgba(0,0,0, 0.9);
    /* background-color: rgb(10, 10, 10); */
    box-shadow: 0 0.2rem 1rem 0.1rem rgb(0, 0, 0, 0.2);
  }
  
  .navbar .intro-logo {
    height: auto;
    width: 50%;
    z-index: 10;
    /* border: 1px solid white; */
  }
  
  .intro-logo a {
    height: auto;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 3rem;
    font-weight: 800;
    margin-left: 4rem;
    color: white;
  }
  
  .intro-logo a span {
    /* border: 1px solid black; */
    color: black;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  }

  .change-logo-color-1{
    /* color: black; */
    color: black !important;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  }

  
  .nav-links {
    height: auto;
    width: 55%;
    z-index: 10;
    text-align: end;
    padding: 0 50px 0 0;
    /* border: 1px solid white; */
  }

  .nav-links a {
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content:flex-end;
    align-items: center;
  }
  
  .nav-links a .button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
    color: #ffffff;
    background-color: black;
    text-transform: uppercase;
    padding: 8px 10px;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    cursor: pointer;
    border: none;
    outline: none;
    border: 1px solid #656565;
    transition: all 0.3s ease;
    color: rgb(255, 255, 255, 0.8);
  }
  
  .nav-links a .button:hover{
    /* background-color: #d5d5d5; */
    color: rgb(255, 255, 255);
  }

  .call-logo{
    height: 20px;
    width: 20px;
    margin: 0 0 0 0.2rem;
    /* border: 1px solid white; */
  }

  .call-logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: all 0.5s ease-in-out;
  }

  .call-logo-animate{
    animation: callmsg 1.5s linear forwards;
  }


  @keyframes callmsg {
    0%{
      transform: translateX(0%);
    }50%{
      opacity: 0.5;
      transform: translateX(150%);
    }
    100%{
      transform: translateX(0%);
    }
  }

  
  .nav-links ul {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .nav-links ul li {
    list-style: none;
  }
  .nav-links ul a {
    text-decoration: none;
    font-weight: 500;
    color: #b4b4b4;
    position: relative;
    text-transform: uppercase;
    transition: all 0.2s ease;
    padding: 4px 8px;
    border-radius: 0.2rem;
  }
  
  /* .nav-links ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    right: 0;
    height: 0.1rem;
    width: auto;
    background-color: #ffffff;
  } */
  
  .active {
    background-color: #ffffff !important;
    color: black !important;
  }
  
  .nav-links ul a:hover {
    /* color: #ffffff; */
    color: black;
    background-color: white;
    /* border: 1px solid white; */
  }
  
  .hamburger {
    height: auto;
    width: 12%;
    cursor: pointer;
    z-index: 10;
    /* border: 1px solid white; */
  }

  .line-1{
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 2px;
    margin: 0.2rem 0;
  }

  .line-2{
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 2px;
    margin: 0.2rem 0;
  }

  .line-3{
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 2px;
    margin: 0.2rem 0;
  }
  
  .line-1,
  .line-2,
  .line-3 {
    /* background-color: rgb(255, 255, 255);
    width: 35px;
    height: 2px; */
    /* margin: 5px 0; */
    /* margin:0.2rem; */
    transition: 0.2s ease;
    transition: all 0.5s;
    transform-origin: 8px 2px;
  }
  
  .change .line-1 {
    transform: rotate(45deg);
    background-color: white
  }
  .change .line-2 {
    opacity: 0;
    background-color: white
  }
  
  .change .line-3 {
    transform: rotate(-45deg);
    background-color: white
  }
  
  .hamburger-links {
    /* visibility: hidden; */
    position: relative;
    top: 0rem;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    position: fixed;
    height: 60vh;
    width: 100vw;
    float: right;
    transition: all 0.7s ease;
    transform: translateY(-105%);
    box-shadow: 0 0rem 0.5rem 0.1rem black;
    background-color: rgb(0, 0, 0);
  }
  
  .hamburger-links-toggle {
    transform: translateY(0%);
  }
  
  .hamburger-links ul {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger-links ul li {
    position: relative;
    list-style: none;
    height: 4rem;
    width: 100%;
    /* border: 1px solid black; */
  }
  
  .hamburger-links ul li a {
    position: absolute;
    text-decoration: none;
    height: 4rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    /* color: rgb(0, 0, 0); */
    color: white;
    transform: scaleX(0.95);
    transition: all 0.2s ease;
    /* border: 1px solid black; */
  }
  
  .hamburger-links ul li a:hover {
    color: rgb(109, 109, 109);
    transform: scaleX(1);
    font-size: 1.2rem;
  }

  .hamburger-links ul li .Home:hover{
    color: rgb(255, 0, 255);
    transform: scaleX(1);
    font-size: 1.2rem;
  }

  .hamburger-links ul li .About:hover{
    color: orange;
    transform: scaleX(1);
    font-size: 1.2rem;
  }

  .hamburger-links ul li .Works:hover{
    color: rgb(34, 255, 34);
    transform: scaleX(1);
    font-size: 1.2rem;
  }

  .hamburger-links ul li .Contact:hover{
    color: orangered;
    transform: scaleX(1);
    font-size: 1.2rem;
  }
  
  .hide {
    display: none;
  }


  
  /* RESPONSIVE----------------------------- */
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .navbar .intro-logo {
      width: 50%;
      /* border: 1px solid black; */
    }
  
    .intro-logo a {
      margin-left: 1.5rem;
    }
  
    .hamburger {
      display: block;
    }
  
    .hamburger-links {
      display: block;
    }
  }
  
  @media (max-width: 520px) {
    .intro-logo a {
      margin-left: 1rem;
    }
  }
  
  @media (max-width: 450px) {
    .intro-logo a {
      margin-left: 0.3rem;
    }
  }
  
  @media (max-width: 400px) {
    .intro-logo a {
      margin-left: 0rem;
    }
  }
  